
  
    @media only screen and (max-width: 767px) {
        .card-container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .box{
            width: 100%;
            border: 2px solid yellowgreen;
        }

        .header{
            border-bottom: 2px solid #dddddd;
        }

        .select-field{
            width: 100%;
        }

        .input-road{
            margin-bottom: 1rem;
        }
    }